@using GlobalPrint.ServerBusinessLogic.Models.Domain.Orders
@using Resources.ClientWeb.Order

@model PrintOrder
@{
    ViewBag.Title = CompleteViewResource.FormTabTitle;
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container">

    @using (Html.BeginForm("Index", "Home", FormMethod.Get, new { @class = "form-horizontal" }))
    {
        <h2>@CompleteViewResource.FormHeaderText</h2>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">@CompleteViewResource.OrderNumberFieldLabel</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.ID, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">@CompleteViewResource.OrderDateFieldLabel</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.OrderedOn, "{0:dd.MM.yyyy HH:mm:ss}", new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">@CompleteViewResource.PagesCountFieldLabel</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.PagesCount, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">@CompleteViewResource.PriceFieldLabel</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.PriceInCurrency, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                @Html.ActionLink(CompleteViewResource.MyOrdersButtonLabel, "MyOrders", "Order", new { }, new { @class = "btn btn-default" })
                @Html.ActionLink(Resources.Resource.GotoMainPage, "Index", "Home", new { }, new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>