@using GlobalPrint.ClientWeb.Helpers
@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Users
@using GlobalPrint.ServerBusinessLogic.Models.Business.Printers

@model NewOrder
@{
    ViewBag.Title = "Подтверждение заказа на печать";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

    decimal FullPrice = (decimal)ViewBag.FullPrice;
    string FullPriceFormatted =$"{FullPrice:0.00}";
    PrinterServiceExtended PrinterService = (PrinterServiceExtended)ViewBag.PrinterService;
    int PagesCount = (int)ViewBag.PagesCount;
    int IsOrderAvailable = (int)ViewBag.IsOrderAvailable;
}

@section Scripts{
    <script src="~/Resources/Scripts/GlobalPrint/Order/Confirm.js"></script>
}

<div class="col-md-9">
    <div class="lkBox">
        <div class="lkBoxCont">
            <div class="defaultTitle">Подтверждение заказа</div>

            @using (Html.BeginForm("Create", "Order", FormMethod.Post, new { @class = "smForm", @id = "createOrderForm" }))
            {
                <div class="row regisRow">
                    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                    {
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            @Html.ValidationSummary(true, "Ошибки: ")
                        </div>
                    }
                    <div class="hidden">
                        @Html.EditorForModel()
                        @Html.Hidden("IsOrderAvailable", IsOrderAvailable, new { @id = "isOrderAvailable" })
                        @Html.Hidden("FullPrice", FullPrice, new { @id = "fullPrice" })
                    </div>

                    <div class="tableName">Количество страниц:</div>
                    <label class="labelBox mgBottom input-wrapper">
                        @Html.TextBox("PagesCount", PagesCount, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Стоимость заказа:</div>
                    <label class="labelBox mgBottom input-group input-wrapper">
                        @Html.TextBox("PriceInCurrency", FullPriceFormatted, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                        <span class="dLabel">руб.</span>
                    </label>

                    <div class="tableName">Секретный код:</div>
                    <label class="labelBox mgBottom input-wrapper">
                        @Html.TextBox("SecretCode", Model.SecretCode, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="buttonsBox" align="center">
                        <button class="defaultButton coloredBtn" type="submit">Печать</button>
                        <a href=@Request.UrlReferrer class="defaultButton coloredBtn white-text">Назад</a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>