@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@model PrintOrderInfo
@{
    ViewBag.Title = "Детали заказа";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-md-8">
    <div class="lkBox">
        <div class="lkBoxCont">
            <div class="defaultTitle">Детали заказа № @Model.PrintOrder.ID</div>

            @using (Html.BeginForm("Rate", "Order", FormMethod.Post, new { role = "form" }))
            {
                <div class="row regisRow">

                    <div class="edit">Информация о заказе печати печати</div>

                    <div class="hidden">
                        @Html.Hidden("PrintOrderID", Model.PrintOrder.ID)
                    </div>

                    <div class="tableName">Принтер:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBox("Name", Model.Printer.Name, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Название документа:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBox("DocumentName", Model.PrintOrder.DocumentName, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Стоимость заказа:</div>
                    <label class="labelBox mgBottom input-group">
                        @Html.TextBox("PriceInCurrency", Model.PrintOrder.PriceInCurrency, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                        <span class="dLabel">руб.</span>
                    </label>

                    <div class="edit">Оценить заказ</div>

                    <label class="labelBox mgBottom star-rating-field">
                        @Html.Hidden("Rating", Model.PrintOrder.Rating, new { @class = "input-def rating", @style = "width:100%", @data_filled = "fa fa-star fa-3x", @data_empty = "fa fa-star-o fa-3x", @data_stop = "5" })
                    </label>

                    <div class="tableName">Отзыв о заказе:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBox("Comment", Model.PrintOrder.ClientRecall, new { @class = "input-def", @style = "width:100%", @rows = 5 })
                    </label>
                    
                </div>

                <div class="buttonsBox" align="center">
                    <button class="defaultButton coloredBtn" type="submit" value="Save" name="action:Save">Оценить</button>
                    <a href=@Url.Action("MyOrders", "Order") class="defaultButton coloredBtn white-text">Назад</a>
                </div>
            }

        </div>
    </div>
</div>
