@using GlobalPrint.ServerBusinessLogic.BusinessLogicLayer.Models.Domain.Orders
@using GlobalPrint.ServerBusinessLogic.BusinessLogicLayer.Models.Business.Orders
@model List<PrintOrderInfo>
@{
    ViewBag.Title = "Мои Заказы";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/PrintOrder/PrintOrder.js"></script>
}

@*@{int rowNo = 0;}*@
<div class="container">
    @using (Html.BeginForm("MyOrders", "Order", FormMethod.Get, new { @class = "form-horizontal", role = "form", id="userPrintOrderListForm" }))
    {

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }

        <div class="form-inline gp-data-filter focus">
            <label class="control-label">Код заказа</label>
            @Html.TextBox("printOrderID", "", htmlAttributes: new { @class = "form-control", @id = "printOrderIdFilter" })
            @*<input type="submit" value="Фильтр" class="btn btn-default" />*@
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-2">Номер заказа</th>
                    <th class="col-md-2">Принтер</th>
                    <th class="col-md-2">Документ</th>
                    <th class="col-md-2">Дата заказа</th>
                    <th class="col-md-2">Цена заказа</th>
                    <th class="col-md-2">Код</th>
                    <th class="col-md-2">Статус</th>
                </tr>
            </thead>
            <tbody>
                @foreach (PrintOrderInfo printOrder in Model)
                {
                    <tr>
                        @*<td scope="row">@(rowNo += 1)</td>*@
                        <td>@Html.DisplayFor(c => printOrder.PrintOrder.ID)</td>
                        <td>@Html.DisplayFor(c => printOrder.PrintOrder.PrinterID)</td>
                        <td>@Html.DisplayFor(c => printOrder.PrintOrder.DocumentName)</td>
                        <td>@Html.DisplayFor(c => printOrder.PrintOrder.OrderedOn, "{0:dd.MM.yyyy HH:mm:ss}")</td>
                        <td>@Html.DisplayFor(c => printOrder.PrintOrder.FullPrice, "{0:0.00}")</td>
                        <td>@Html.DisplayFor(c => printOrder.PrintOrder.SecretCode)</td>
                        <td>@Html.DisplayFor(c => printOrder.Status.Status)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
