@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@using GlobalPrint.ClientWeb.Models.Lookup
@using GlobalPrint.ClientWeb.Helpers
@using GlobalPrint.ClientWeb.Models.MenuButton
@using System.Globalization

@model List<PrintOrderInfo>
@{
	ViewBag.Title = "Мои Заказы";
	Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

@section Scripts {
	<script src="~/Resources/Scripts/GlobalPrint/PrintOrder/PrintOrder.js"></script>
}

<div class="col-md-9">
	<div class="row">
		<div class="col-md-6">
			<a href=@Url.Action("FillUpBalance", "UserProfile")>
				<button class="lkTopBBtn">
					Пополнить счет
				</button>
			</a>
		</div>
		<div class="col-md-6">
			<a href=@Url.Action("RequestCash", "UserProfile")>
				<button class="lkTopBBtn">
					Вывести средства
				</button>
			</a>
		</div>
	</div>
</div>

<div class="col-md-9">
	<div class="lkBox">

		<div class="lkBoxCont">
			<div class="defaultTitle">
				Мои заказы
			</div>
			@using (Html.BeginForm("MyOrders", "Order", FormMethod.Get, new { @class = "form-horizontal", role = "form", id = "userPrintOrderListForm" }))
			{
				<div class="gp-data-filter focus tableName">
					Код заказа:
					@Html.TextBox("printOrderID", "", htmlAttributes: new { @class = "input-def order-code", @id = "printOrderIdFilter" })
				</div>
			}
			<div class="lkInsetOverflow minusMargin">
				<div class="outerTable double-scroll">
					<table class="defaultTable" width="100%">
						<tr class="tableHead">
							<td>Код заказа</td>
							<td>Принтер</td>
							<td>Документ</td>
							<td>Дата</td>
							<td>Цена</td>
							<td>Код</td>
							<td>Статус</td>
							<td></td>
						</tr>
						@foreach (PrintOrderInfo printOrder in Model)
						{
							<tr>
								<td align="center">@Html.DisplayFor(c => printOrder.PrintOrder.ID)</td>
								<td>@Html.DisplayFor(c => printOrder.Printer.Name)</td>
								<td>@Html.DisplayFor(c => printOrder.PrintOrder.DocumentName)</td>
								<td align="center">@Html.DisplayFor(c => printOrder.PrintOrder.OrderedOn, String.Format("{{0: {0} }}", CultureInfo.CurrentCulture.DateTimeFormat.FullDateTimePattern))</td>
								<td align="right">@Html.DisplayFor(c => printOrder.PrintOrder.FullPrice, "{0:0.00}")</td>
								<td align="center">@Html.DisplayFor(c => printOrder.PrintOrder.SecretCode)</td>
								<td align="center">@Html.DisplayFor(c => printOrder.Status.Status)</td>
								<td align="right">
                                    @Html.ButtonMenu(new List<MenuItem>() {
                                        new MenuItem() { Name = "Копировать заказ", Reference = @Url.Action("FromExisting", "Order", new { @printOrderID = printOrder.PrintOrder.ID }) },
                                        new MenuItem() { Name = "Детали заказа", Reference = @Url.Action("Details", "Order", new { @printOrderID = printOrder.PrintOrder.ID }) }
                                    })
								</td>
							</tr>
						}
					</table>
				</div>
			</div>

		</div>

	</div>
</div>
