@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Printers
@using GlobalPrint.ServerBusinessLogic.Models.Business
@model NewOrder
@{
    ViewBag.Title = "Заказ на печать";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

    Printer Printer = (Printer)ViewBag.Printer;
    DocumentBusinessInfo Document = (DocumentBusinessInfo)ViewBag.Document;
}
@section Scripts{
    <script src="~/Resources/Scripts/GlobalPrint/Order/New.js"></script>
}

<div class="col-md-8">
    <div class="lkBox">
        <div class="lkBoxCont">
            <div class="defaultTitle">Заказ на печать</div>

            @using (Html.BeginForm("New", "Order", FormMethod.Post, new { @id = "newOrderForm" }))
            {
                <div class="row regisRow">

                    @Html.HiddenFor(m => m.PrinterID, new { @id = "PrinterID" })
                    @Html.HiddenFor(m => m.UserID, new { @id = "UserID" })

                    <div class="tableName">Название принтера:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => Printer.Name, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Расположение принтера:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => Printer.Location, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Файл для печати:</div>
                    <label class="labelBox mgBottom input-wrapper">
                        <span class="input-group fullwidth">

                            <span class="input-group-btn dLabel dLeftLabel" title="Выбрать файл"><img src="/Content/img/attachment.png"></span>
                            <input type="file" class="" id="fileupload" style="display: none;">
                            
                            <input type="text" class="input-def upload-text" readonly>

                            <span id="progress" class="input-group-btn input-def progress progressbar-wrapper">
                                <span class="progress-bar progress-bar-info progressbar-bar">
                                    <span id="progressPercentText" class="progressbarpercent progressbar-text"></span>
                                </span>
                            </span>

                            @Html.HiddenFor(m => m.FileToPrint, new { @id = "fileId", @required = "required" })
                            @Html.Hidden("_Document", Document?.Name, new { @id = "fileName" })
                        </span>
                    </label>

                    <div class="tableName">Секретный код:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.SecretCode, new { @class = "input-def", @style = "width:100%", @required = "required" })
                    </label>

                    <div class="tableName">Тип:</div>
                    <label class="labelBox mgBottom">
                        @Html.DropDownListFor(m => m.PrintTypeID, new List<SelectListItem>(), new { @id = "printType", @class = "input-def", @style = "width:100%", @required = "required" })
                    </label>

                    <div class="tableName">Формат:</div>
                    <label class="labelBox mgBottom">
                        @Html.DropDownListFor(m => m.PrintSizeID, new List<SelectListItem>(), new { @id = "printSize", @class = "input-def", @style = "width:100%", @required = "required" })
                    </label>

                    <div class="tableName">Цветная печать:</div>
                    <label class="labelBox mgBottom">
                        @Html.CheckBoxFor(m => m.IsColored, new { @id = "IsColored", @class = "js-switch-small" })
                    </label>

                    <div class="tableName">Двусторонняя печать:</div>
                    <label class="labelBox mgBottom">
                        @Html.CheckBoxFor(m => m.IsTwoSided, new { @id = "IsTwoSided", @class = "js-switch-small" })
                    </label>

                    <div class="tableName">Количество копий:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.CopiesCount, new { @type = "number", @class = "input-def", @style = "width:100%", @required = "required" })
                    </label>

                    <div class="tableName">Комментарий:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(m => m.Comment, new { @class = "input-def", @style = "width:100%" })
                    </label>

                </div>

                <div class="buttonsBox" align="center">
                    <button class="defaultButton coloredBtn" type="submit" id="printButton">Печать</button>
                </div>
            }

        </div>
    </div>
</div>
