@model Order_NewViewModel
@{
    ViewBag.Title = "Заказ на печать";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}
@section Scripts{
    <script src="~/Resources/Scripts/GlobalPrint/Order/New.js"></script>
}
@section Stylesheets {
}
<div class="container">
    @using (Html.BeginForm("New", "Order", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }
        <h2>Информация для печати</h2>
        @Html.HiddenFor(e => e.Order.PrinterID, new { @id = "PrinterID" })
        @Html.HiddenFor(e => e.Order.UserID, new { @id = "UserID" })
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Название принтера</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.Printer.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Расположение принтера</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.Printer.Location, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">
                @Html.TextBox("Выберите файл", "Order.FileToPrint", new { @type = "file", @data_filename_placement = "inside", @title = "Выберите файл", @id = "fileupload" })
                @Html.HiddenFor(e => e.Order.FileToPrint, new { @id = "fileId", @required = "required" })
            </div>
            <label class="col-sm-3 control-label text-left" id="fileName"></label>
            <div class="col-sm-4 progressbar-margin">
                <div id="progress" class="progress progressbar-nomargin">
                    <label id="progressbarError" class="progressbar-error" hidden="hidden"></label>
                    <div class="progress-bar progress-bar-success">
                        <label id="percent" class="progressbarpercent"></label>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Секретный код</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.Order.SecretCode, new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Тип</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.Order.PrintTypeID, new List<SelectListItem>(), new { @id = "printType", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Формат</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.Order.PrintSizeID, new List<SelectListItem>(), new { @id = "printSize", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Цветная печать</label>
            <div class="col-sm-9">
                @Html.CheckBoxFor(e => e.Order.IsColored, new { @id = "IsColored" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Двусторонняя печать</label>
            <div class="col-sm-9">
                @Html.CheckBoxFor(e => e.Order.IsTwoSided, new { @id = "IsTwoSided" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Количество копий</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.Order.CopiesCount, new { @type = "number", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Комментарий</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.Order.Comment, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <input type="submit" id="printButton" value="Печать" class="btn btn-default" />
            </div>
        </div>
    }
</div>
