@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Printers
@model NewOrder
@{
    ViewBag.Title = "Заказ на печать";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
    Printer Printer = (Printer)ViewBag.Printer;
}
@section Scripts{
    <script src="~/Resources/Scripts/GlobalPrint/Order/New.js"></script>
}
<div class="container">
    @using (Html.BeginForm("New", "Order", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal", @id = "newOrderForm" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }
        <h2>Информация для печати</h2>
        @Html.HiddenFor(m => m.PrinterID, new { @id = "PrinterID" })
        @Html.HiddenFor(m => m.UserID, new { @id = "UserID" })
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Название принтера</label>
            <div class="col-sm-9 input-wrapper">
                @Html.TextBoxFor(e => Printer.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Расположение принтера</label>
            <div class="col-sm-9 input-wrapper">
                @Html.TextBoxFor(e => Printer.Location, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Файл для печати</label>
            <div class="col-sm-9 input-wrapper">
                <div class="input-group">
                    <label class="input-group-btn">
                        <span class="btn btn-default">
                            Выберите файл <input type="file" id="fileupload" style="display: none;">
                        </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                    <div id="progress" class="input-group-addon progress progressbar-wrapper">
                        <span id="errorText" class="text-danger"></span>
                        <div class="progress-bar progress-bar-info progressbar-bar">
                            <span id="progressPercentText" class="progressbarpercent progressbar-text"></span>
                        </div>
                    </div>
                    @Html.HiddenFor(m => m.FileToPrint, new { @id = "fileId", @required = "required" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Секретный код</label>
            <div class="col-sm-9 input-wrapper">
                @Html.TextBoxFor(m => m.SecretCode, new { @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Тип</label>
            <div class="col-sm-9 input-wrapper">
                @Html.DropDownListFor(m => m.PrintTypeID, new List<SelectListItem>(), new { @id = "printType", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Формат</label>
            <div class="col-sm-9 input-wrapper">
                @Html.DropDownListFor(m => m.PrintSizeID, new List<SelectListItem>(), new { @id = "printSize", @class = "form-control", @required = "required" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Цветная печать</label>
            <div class="col-sm-9 input-wrapper">
                @Html.CheckBoxFor(m => m.IsColored, new { @id = "IsColored" })
            </div>
        </div>
            <div class="form-group">
                <label class="col-sm-3 control-label text-left">Двусторонняя печать</label>
                <div class="col-sm-9 input-wrapper">
                    @Html.CheckBoxFor(m => m.IsTwoSided, new { @id = "IsTwoSided" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label text-left">Количество копий</label>
                <div class="col-sm-9 input-wrapper">
                    @Html.TextBoxFor(m => m.CopiesCount, new { @type = "number", @class = "form-control", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label text-left">Комментарий</label>
                <div class="col-sm-9 input-wrapper">
                    @Html.TextBoxFor(m => m.Comment, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2">
                    <input type="submit" id="printButton" value="Печать" class="btn btn-default" />
                </div>
            </div>
    }
</div>
