@using GlobalPrint.ServerBusinessLogic.Models.Business.TransfersRegisters
@using System.Globalization

@model List<CashRequestExtended>
@{
    ViewBag.Title = "Запросы на вывод денег";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


<div class="col-md-9">
	<div class="lkBox">

		<div class="lkBoxCont">
			<div class="defaultTitle">
				Запросы на вывод денег
			</div>

			<div class="tableName">Запросы на вывод денег</div>

			<div class="lkInsetOverflow minusMargin">
				<div class="outerTable">
					<table class="defaultTable" width="100%">
						<tr class="tableHead">
							<td>№</td>
							<td>Дата</td>
							<td>Сумма</td>
							<td>Статус</td>
							<td>Комментарий</td>
						</tr>
						@foreach (CashRequestExtended request in Model)
						{
							<tr>
								<td>@Html.DisplayFor(c => request.CashRequest.ID)</td>
								<td align="center">@Html.DisplayFor(c => request.CashRequest.CreatedOn, String.Format("{{0: {0} }}", CultureInfo.CurrentCulture.DateTimeFormat.FullDateTimePattern))</td>
								<td>@Html.DisplayFor(c => request.CashRequest.AmountOfMoney)</td>
								<td>@Html.DisplayFor(c => request.CashRequestStatus.Name)</td>
								<td align="right">@Html.DisplayFor(c => request.CashRequest.CashRequestStatusComment)</td>
							</tr>
						}
					</table>
				</div>
			</div>

			<div class="buttonsBox">
				<a href=@Url.Action("RequestCash", "UserProfile") class="defaultButton coloredBtn white-text">Создать</a>
				<a href="/" class="defaultButton coloredBtn white-text">На главную</a>
			</div>
		</div>
	</div>
</div>