@using GlobalPrint.ServerBusinessLogic.Models.Domain.Users
@using GlobalPrint.ServerBusinessLogic.Models.Domain.TransfersRegisters
@model CashRequest
@{
	ViewBag.Title = "Запрос на вывод денег";
	Layout = "~/Views/Shared/_ProfileLayout.cshtml";
	User User = (User)ViewBag.User;
}

@section Scripts {
	<script src="~/Resources/Scripts/GlobalPrint/UserProfile/RequestCash.js"></script>
}

<div class="col-md-9">
	<div class="lkBox">
		<div class="lkBoxCont">
			<div class="defaultTitle">Вывод средств</div>

			@using (Html.BeginForm("ExecuteRequestCash", "UserProfile", FormMethod.Post, new { @class = "smForm", @id = "sendModeyForm" }))
            {
                if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                {
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary(true, "Ошибки: ")
                    </div>
                }
				@Html.Hidden("UserAmountOfMoney", User.AmountOfMoney, new { @id = "userAmountOfMoney" })
				@Html.Hidden("UserID", Model.UserID)
				@Html.Hidden("ID", Model.ID)
				@Html.Hidden("TransfersRegisterID", Model.TransfersRegisterID)
				@Html.Hidden("CreatedOn", Model.CreatedOn)
				@Html.Hidden("CashRequestStatusID", Model.CashRequestStatusID)
				@Html.Hidden("CashRequestStatusComment", Model.CashRequestStatusComment)
				<div class="row">
					<div class="col-md-4">
						<div class="tableName">Выводимая сумма:</div>
					</div>
					<div class="col-md-8 input-wrapper">

						<label class="labelBox input-group">
							@Html.TextBox("AmountOfMoney", Model.AmountOfMoney == 0 ? "" : Model.AmountOfMoney.ToString(), new { @type = "text", @class = "input-def", @style = "width:100%" })
							<div class="dLabel">руб.</div>
						</label>

					</div>
				</div>

				<div class="buttonsBox">
					<a href="#"><button type="submit" class="defaultButton coloredBtn">Запросить вывод</button></a>
					<a href=@Url.Action("UserProfile", "UserProfile") class="defaultButton coloredBtn white-text">Отмена</a>
				</div>
			}
		</div>

	</div>
</div>