@using GlobalPrint.ServerBusinessLogic.Models.Domain.Users
@using GlobalPrint.ServerBusinessLogic.Models.Business.Payments
@using GlobalPrint.ClientWeb.Models.Lookup
@model SendModeyPackage
@{
    ViewBag.Title = "Отправка денег";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
    User SenderUser = (User)ViewBag.SenderUser;
}

@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/UserProfile/SendMoney.js"></script>
}


<div class="container">
    <h2>Отправка денег</h2>
    @using (Html.BeginForm("ExecuteSendMoney", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "sendModeyForm" }))
    {

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }
        @Html.Hidden("UserAmountOfMoney", SenderUser.AmountOfMoney, new { @id = "userAmountOfMoney" })
        @Html.Hidden("SenderUserId", Model.SenderUserId, new { @id = "senderUserId" })
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Пользователь</label>
            <div class="col-sm-9 input-wrapper">
                @Html.Lookup(LookupTypeEnum.User, "ReceiverUserId", Model.ReceiverUserId)
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Пересылаемая сумма</label>
            <div class="col-sm-9 input-wrapper">
                <div class="input-group">
                    @Html.TextBox("AmountOfMoney", Model.AmountOfMoney, new { @type = "number", @class = "form-control text-right" })
                    <div class="input-group-addon">руб.</div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="submit" value="Преслать" class="btn btn-default" />
                @Html.ActionLink("Назад", "UserProfile", "UserProfile", new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>