@using GlobalPrint.ServerBusinessLogic.Models.Domain.TransfersRegisters
@using GlobalPrint.ClientWeb.Helpers;
@using GlobalPrint.ServerBusinessLogic.Models.Business.TransfersRegisters;

@model List<TransfersRegister>
@{
    ViewBag.Title = "Реестры перечислений";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}


@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/UserProfile/TransfersRegisters.js"></script>
}


<div class="col-md-9">
	<div class="lkBox">

		<div class="lkBoxCont">
			<div class="defaultTitle">
				Реестры перечислений
			</div>

			<div class="tableName">Реестры перечислений</div>

			<div class="lkInsetOverflow minusMargin">
				<div class="outerTable">
					<table class="defaultTable" width="100%">
						<tr class="tableHead">
							<td>Номер</td>
							<td>Дата формирования</td>
							<td>Количество запросов</td>
							<td>Общая сумма</td>
							<td></td>
						</tr>
						@foreach (TransfersRegister register in Model)
						{
							<tr>
								<td>@Html.DisplayFor(c => register.ID)</td>
								<td align="center">@Html.DisplayFor(c => register.CreatedOn)</td>
								<td align="right">@Html.DisplayFor(c => register.CashRequestsTotalCount)</td>
								<td align="right">@Html.DisplayFor(c => register.CashRequestsTotalAmountOfMoney)</td>
								<td class="table-col-buttons">
									<a href="@Url.Action("GetTransfersRegister", "Reports", new { @TransfersRegisterID = register.ID })" title="Загрузить" class="btn btn-default glyphicon glyphicon-download-alt"></a>
								</td>
							</tr>
						}
					</table>
				</div>
			</div>

			<div class="buttonsBox">
				<a href="/" class="defaultButton coloredBtn white-text">На главную</a>
				@using (Html.BeginForm("NewTransfersRegister", "UserProfile", FormMethod.Post, new { @class = "white-text", id = "createNewRegister" }))
				{
					<button type="submit" class="defaultButton coloredBtn" id="createNewRegister">Сформировать</button>
				}
			</div>
		</div>
	</div>
</div>