@using GlobalPrint.ServerBusinessLogic.BusinessLogicLayer.Models.Business.Users
@using GlobalPrint.ServerBusinessLogic.BusinessLogicLayer.Models.Domain.Offers
@model UserExtended
@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/userProfile/user-profile.css" rel="stylesheet" />
}

<div class="container">
    <!-- Модальное окно -->
    @Html.Partial("FillUpBalance")

    @using (Html.BeginForm("Save", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }
        <h2 class="form-signin-heading">Профиль пользователя</h2>

        // Полное имя
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Имя</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control", @placeholder = "Полное имя", @required = "true", @autofocus = true })
            </div>
        </div>

        // Email
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Email</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @readonly = "true", @type = "email", @placeholder = "Email", @required = "true" })
            </div>
        </div>

        // Баланс
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Баланс</label>
            <div class="col-sm-11">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.User.AmountOfMoney, new { @class = "form-control", @readonly = "true", @placeholder = "Баланс" })
                    <span class="input-group-btn">                        
                        <!-- Кнопка, вызывающее модальное окно -->
                        <a href="#FillUpBalanceModal" title="Пополнить счет" class="btn btn-default" data-toggle="modal">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        // Оферта
        if (Model.LatestUserOffer.HasUserOffer)
        {
            <div class="form-group">
                <label class="col-sm-1 control-label text-left">Оферта</label>
                <div class="col-sm-11">
                    <div class="input-group">
                        @Html.TextBox("UserOfferString", Model.LatestUserOffer.UserOfferString, new { @class = "form-control", @readonly = "true", @placeholder = "Договор оферты пользователя" })
                        <span class="input-group-btn">
                            <a href="@Url.Action("Offer", "Offer", new { @offerTypeID = OfferTypeEnum.UserOffer })" target="_blank" title="Открыть договор оферты" class="btn btn-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        }

        @Html.HiddenFor(m => m.User.UserID)
        @Html.HiddenFor(m => m.User.PhoneNumber)

        <div class="form-group">
            <div class="col-sm-10">
                <button class="btn btn-default" type="submit" value="Save" name="action:Save">Сохранить</button>                
            </div>
        </div>
    }
</div>
