@using GlobalPrint.ServerBusinessLogic.Models.Business.Users
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Offers
@using Resources.ClientWeb.UserProfile

@model UserExtended
@{
    ViewBag.Title = UserProfileViewResource.FormTabTitle;
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/userProfile/user-profile.css" rel="stylesheet" />
}

<div class="container">
    <!-- Модальное окно -->
    @Html.Partial("FillUpBalance")

    @using (Html.BeginForm("Save", "UserProfile", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, Resources.Resource.ValidationErrors + ": ")
            </div>
        }
        <h2 class="form-signin-heading">@UserProfileViewResource.FormHeaderText</h2>

        // Полное имя
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">@UserProfileViewResource.NameFieldLabel</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.User.UserName, new { @class = "form-control", @placeholder = UserProfileViewResource.NameFieldLabel, @required = "true", @autofocus = true })
            </div>
        </div>

        // Email
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">@UserProfileViewResource.EmailFieldLabel</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.User.Email, new { @class = "form-control", @readonly = "true", @type = "email", @placeholder = UserProfileViewResource.EmailFieldLabel, @required = "true" })
            </div>
        </div>

        // Баланс
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">@UserProfileViewResource.BalanceFieldLabel</label>
            <div class="col-sm-11">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.User.AmountOfMoney, new { @class = "form-control", @readonly = "true", @placeholder = UserProfileViewResource.BalanceFieldLabel })
                    <span class="input-group-btn">                        
                        <!-- Кнопка, вызывающее модальное окно -->
                        <a href="#FillUpBalanceModal" title=@UserProfileViewResource.FillBalanceButtonLabel class="btn btn-default" data-toggle="modal">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </a>
                    </span>
                </div>
            </div>
        </div>

        // Оферта
        if (Model.LatestUserOffer.HasUserOffer)
        {
            <div class="form-group">
                <label class="col-sm-1 control-label text-left">@UserProfileViewResource.OfferFieldLabel</label>
                <div class="col-sm-11">
                    <div class="input-group">
                        @Html.TextBox("UserOfferTitle", Model.LatestUserOffer.UserOfferTitle, new { @class = "form-control", @readonly = "true", @placeholder = UserProfileViewResource.OfferFieldPlaceholder })
                        <span class="input-group-btn">
                            <a href="@Url.Action("Offer", "Offer", new { @offerTypeID = OfferTypeEnum.UserOffer })" target="_blank" title=@UserProfileViewResource.OpenOfferButtonLabel class="btn btn-default">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        }

        @Html.HiddenFor(m => m.User.UserID)
        @Html.HiddenFor(m => m.User.PhoneNumber)

        <div class="form-group">
            <div class="col-xs-10">
                <button class="btn btn-default" type="submit" value="Save" name="action:Save">@UserProfileViewResource.SaveButtonLabel</button>       
                <!-- Кнопка, вызывающее модальное окно -->
                <a href="#FillUpBalanceModal" title=@UserProfileViewResource.FillBalanceButtonLabel class="btn btn-default" data-toggle="modal">
                    @UserProfileViewResource.FillBalanceButtonLabel
                </a>  
                @Html.ActionLink(UserProfileViewResource.PaymentsHistoryButtonLabel, "MyPayments", "UserProfile", new { @class = "btn btn-default" })
            </div>
        </div>
    }
</div>
