@using GlobalPrint.ServerBusinessLogic.Models.Domain.Users
@using GlobalPrint.ClientWeb.Helpers;

@model User
@{
	ViewBag.Title = "Профиль пользователя";
	Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-md-4">
	<a href=@Url.Action("FillUpBalance", "UserProfile")>
		<button class="lkTopBBtn">
			Пополнить счет
		</button>
	</a>

	<div class="lkBox lkStatus">
		<div class="lkBoxCont">
			<div align="center">
				@*<div class="avatar">
					@Html.Image(Model.Photo, "/Content/img/no_avatar.png", "Нет аватара", new { @style = "height: 130px;" })
				</div>*@

				<div class="pStatus"><img src="~/Content/img/p-check.png" alt="" /> Профиль заполнен</div>

				<a href=@Url.Action("UserProfileEdit", "UserProfile") class="defaultButton coloredBtn white-text pEdit">
						Редактировать профиль
				</a>
			</div>
		</div>
	</div>
</div>
<div class="col-md-4">
	<div class="lkBox user">
		<div class="lkBoxContSm">
			<div class="lkBoxTitle">Профиль пользователя</div>

			<div class="lkLine"><span>Имя: </span>@Model.UserName</div>
			<div class="lkLine"><span>E-Mail: </span>@Model.Email</div>
			<div class="lkLine"><span>Баланс: </span>@Model.AmountOfMoney р.</div>
			<div class="lkLine"><span>Оферта: </span>Договор оферты пользователя № @Model.ID от @Model.CreatedOn.ToString("dd.MM.yyyy")</div>
		</div>
	</div>

	<div class="lkBox rekv">
		<div class="lkBoxContSm">
			<div class="lkBoxTitle">Реквизиты</div>

			<div class="lkLine"><span>Полное наименование: </span> @Model.LegalFullName</div>
			<div class="lkLine"><span>Краткое наименование:</span> @Model.LegalShortName</div>
			<div class="lkLine"><span>Юридический адрес:   </span> @Model.LegalAddress</div>
			<div class="lkLine"><span>Почтовый адрес:      </span> @Model.PostAddress</div>
			<div class="lkLine"><span>Телефон:             </span> @Model.PhoneNumber</div>
			<div class="lkLine"><span>ИНН:                 </span> @Model.Inn</div>
			<div class="lkLine"><span>КПП:                 </span> @Model.Kpp</div>
			<div class="lkLine"><span>ОГРН:                </span> @Model.Ogrn</div>
			<div class="lkLine"><span>Расчетный счет:      </span> @Model.PaymentAccount</div>
			<div class="lkLine"><span>БИК Банка:           </span> @Model.BankBic</div>
			<div class="lkLine"><span>Наименование банка:  </span> @Model.BankName</div>
			<div class="lkLine"><span>Корр. счет банка:    </span> @Model.BankCorrespondentAccount</div>
		</div>
	</div>
</div>