@using Resources.ClientWeb.Feedback
@using GlobalPrint.ClientWeb.Models.FeedbackViewModel
@model FeedbackViewModel

@{
    ViewBag.Title = FeedbackViewResource.FormTabTitle;
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/shared/edit-form.css">
}

<div class="container edit-form edit-form-large">
    <h2 class="edit-form-heading">@FeedbackViewResource.FormHeader</h2>

    @using (Html.BeginForm("Feedback", "Feedback", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Email), @autofocus = true })
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.UserName) })
        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Subject) })
        @Html.TextAreaFor(m => m.Message, 10, 55, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Message) })

        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.Subject, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
        @Html.ValidationMessage("", new { @class = "text-danger" });

        <button class="btn btn-default btn-primary btn-block" type="submit">@FeedbackViewResource.SendButtonLabel</button>
    }
</div>