@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@model PrintOrderInfo
@{
    ViewBag.Title = "Печать заказа";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="col-md-8">
    <div class="lkBox">
        <div class="lkBoxCont">
            <div class="defaultTitle">Печать заказа</div>

            @using (Html.BeginForm("PrintOrder", "UserRecievedPrintOrderList", FormMethod.Post, new { role = "form" }))
            {
                <div class="row regisRow">

                    @Html.Hidden("printOrderID", Model.PrintOrder.ID)

                    <div class="tableName">Секретный код:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBox("secretCode", null, new { @class = "input-def", @style = "width:100%" })
                    </label>

                    <div class="edit">Данные о заказе</div>

                    <div class="tableName">Номер заказа:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(e => e.PrintOrder.ID, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Название принтера:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(e => e.Printer.Name, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Расположение принтера:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(e => e.Printer.Location, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Файл:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(e => e.PrintOrder.DocumentName, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="tableName">Стоимость:</div>
                    <label class="labelBox mgBottom">
                        @Html.TextBoxFor(e => e.PrintOrder.PriceInCurrency, new { @class = "input-def", @style = "width:100%", @readonly = "readonly" })
                    </label>

                    <div class="buttonsBox" align="center">
                        <button class="defaultButton coloredBtn" type="submit">Распечатать</button>
                    </div>

                </div>
            }

        </div>
    </div>
</div>




