@using GlobalPrint.ServerBusinessLogic.Models.Domain.Orders
@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@using GlobalPrint.ClientWeb
@model List<PrintOrderInfo>
@{
    ViewBag.Title = "Принятые Заказы";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/PrintOrder/RecievedPrintOrder.js"></script>
}
<div class="container">
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger container margin-top-20">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, "Ошибки: ")
        </div>
    }

    @using (Html.BeginForm("UserRecievedPrintOrderList", "UserRecievedPrintOrderList", FormMethod.Get, new { @class = "form-horizontal", @id = "userRecievedPrintOrderListForm" }))
    {
        <div class="form-inline gp-data-filter focus">
            <label class="control-label">Код заказа</label>
            @Html.TextBox("printOrderID", "", htmlAttributes: new { @class = "form-control", @id = "recievedPrintOrderIdFilter" })
        </div>
    }

    <table class="table table-hover">
        <thead>
            <tr>
                @*<th class="col-md-1">№</th>*@
                <th class="col-md-1">Код заказа</th>
                <th class="col-md-1">Принтер</th>
                <th class="col-md-3">Документ</th>
                <th class="col-md-1">Дата заказа</th>
                <th class="col-md-1">Цена заказа</th>
                <th class="col-md-2">Статус</th>
                <th class="col-md-3"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (PrintOrderInfo printOrder in Model)
            {
                <tr>
                    <td class="col-md-1">@Html.DisplayFor(c => printOrder.PrintOrder.ID)</td>
                    <td class="col-md-1">@Html.DisplayFor(c => printOrder.Printer.Name)</td>
                    <td class="col-md-2">@Html.DisplayFor(c => printOrder.PrintOrder.DocumentName)</td>
                    <td class="col-md-1">@Html.DisplayFor(c => printOrder.PrintOrder.OrderedOn, "{0:dd.MM.yyyy HH:mm:ss}")</td>
                    <td class="col-md-1">@Html.DisplayFor(c => printOrder.PrintOrder.FullPrice, "{0:0.00}")</td>
                    <td class="col-md-2">@Html.DisplayFor(c => printOrder.Status.Status)</td>
                    @if (printOrder.PrintOrder.PrintOrderStatusID == (int)PrintOrderStatusEnum.Waiting)
                    {
                        <td class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-5">
                                    @using (Html.BeginForm("AcceptOrder", "UserRecievedPrintOrderList", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.Hidden("printOrderID", printOrder.PrintOrder.ID, new { @class = "btn btn-default" })
                                        <input type="submit" value="Принять" class="btn btn-default" />
                                    }
                                </div>
                                <div class="col-md-7">
                                    @using (Html.BeginForm("RejectOrder", "UserRecievedPrintOrderList", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.Hidden("printOrderID", printOrder.PrintOrder.ID, new { @class = "btn btn-default" })
                                        <input type="submit" value="Отклонить" class="btn btn-default" />
                                    }
                                </div>
                            </div>
                        </td>
                    }
                    else if (printOrder.PrintOrder.PrintOrderStatusID == (int)PrintOrderStatusEnum.Accepted)
                    {
                        <td class="col-md-3">
                            <div class="form-group">
                                <div class="col-md-5">
                                    @using (Html.BeginForm("DownloadOrder", "UserRecievedPrintOrderList", FormMethod.Get, new { @class = "form-horizontal" }))
                                    {
                                        @Html.Hidden("printOrderID", printOrder.PrintOrder.ID, new { @class = "btn btn-default" })
                                        <input type="submit" value="Скачать" class="btn btn-default" />
                                    }
                                </div>
                                <div class="col-md-7">
                                    @using (Html.BeginForm("ConfirmPrintOrder", "UserRecievedPrintOrderList", FormMethod.Post, new { @class = "form-horizontal" }))
                                    {
                                        @Html.Hidden("printOrderID", printOrder.PrintOrder.ID, new { @class = "btn btn-default" })
                                        <input type="submit" value="Распечатать" class="btn btn-default" />
                                    }
                                </div>
                            </div>
                        </td>
                    }
                    else
                    {
                        <td class="col-md-3"></td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>
