@using GlobalPrint.ClientWeb
@using Resources.ClientWeb.Account

@model ForgotPasswordViewModel

@{
    ViewBag.Title = ForgotPasswordViewResource.ForgotPasswordFormTabTitle;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/shared/edit-form.css">
}

<div class="container edit-form">
    <h3 class="edit-form-heading">@ForgotPasswordViewResource.ForgotPasswordFormHeader</h3>

    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
       
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = @Html.DisplayNameFor(m => m.Email), @autofocus = true })
       
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @Html.ValidationMessage("", new { @class = "text-danger" });

        <button class="btn btn-default btn-primary btn-block" type="submit">@ForgotPasswordViewResource.RestorePasswordButtonLabel</button>
    }
    
</div>