@using GlobalPrint.ClientWeb
@using Resources.ClientWeb.Account
@using Resources

@model LoginViewModel
@{
    ViewBag.Title = LoginViewResource.LoginFormTabTitle;
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/shared/edit-form.css">
}

<div class="container edit-form">
    <h2 class="edit-form-heading">@LoginViewResource.LoginFormHeader</h2>

    <div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email",
                                @placeholder = @Html.DisplayNameFor(m => m.Email), @required = "true", @autofocus = true })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password",
                                @placeholder = @Html.DisplayNameFor(m => m.Password), @required = "true" })

            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("", new { @class = "text-danger" });
            
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) @LoginViewResource.RememberMeLabel
                </label>
            </div>

            <button class="btn btn-default btn-primary btn-block" type="submit">@LoginViewResource.LoginButtonLabel</button>
        }
    </div>

    <div class="edit-form-link">
        @LoginViewResource.RegisterLinkString @Html.ActionLink(LoginViewResource.RegisterLinkLabel, 
                                             "Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new { })
    </div>

    <div class="edit-form-link">
        @LoginViewResource.ForgotPasswordString @Html.ActionLink(LoginViewResource.ForgotPasswordLabel, 
                                               "ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new { })
    </div>

    <div class="edit-form-link">
        @Html.ActionLink(Resource.GlobalPrintWebSiteLink, "Index", "Home")
    </div>

</div>
