@using GlobalPrint.ClientWeb
@using Resources.ClientWeb.Account
@using Resources

@model LoginViewModel
@{
    ViewBag.Title = LoginViewResource.LoginFormTabTitle;
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}
@section Scripts{
    <script src="~/Resources/Scripts/GlobalPrint/Account/Login.js"></script>
}

<div class="container verticalWrap">
    <div class="loginForm">
        <div class="loginTitle">
            Войдите с помощью E-mail
        </div>
        <div class="or pink-link">
            @LoginViewResource.ForgotPasswordString @Html.ActionLink(LoginViewResource.ForgotPasswordLabel,
                                               "ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new { })
        </div>

        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "loginForm" }))
        {
            @Html.AntiForgeryToken()

            <div class="loginFormLabel input-wrapper">
                <p>E-Mail</p>
                @Html.TextBoxFor(m => m.Email, new { @class = "loginFormInput", @type = "email", @autofocus = true })
            </div>

            <div class="loginFormLabel input-wrapper">
                <p>Пароль</p>
                @Html.TextBoxFor(m => m.Password, new { @class = "loginFormInput", @type = "password" })
            </div>

            <div class="row" style="margin-top:15px;">
                <div class="col-md-1 col-xs-2" style="text-align:center">
                    @Html.CheckBoxFor(m => m.RememberMe, new { @class = "setClick" })
                    <div class="loginCheckBox" onclick="$(this).toggleClass('checked'); $('.setClick').click();">
                        <div class="checked"></div>
                    </div>
                </div>
                <div class="col-md-6 col-xs-10">
                    <div class="row">
                        <div class="login-remember-me">
                            @LoginViewResource.RememberMeLabel
                        </div>
                    </div>
                </div>

                <div class="col-md-5 col-xs-12" align="right">
                    <button class="goReg" type="submit">@LoginViewResource.LoginButtonLabel</button>
                </div>
            </div>
        }

    </div>
</div>