@using GlobalPrint.ClientWeb
@model LoginViewModel

@{
    ViewBag.Title = "Логин";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/account/login.css">
}

<div class="container form-signin">
    <h2 class="form-signin-heading">Вход</h2>

    <div>
        @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email", @required = "true", @autofocus = true })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Пароль", @required = "true" })

            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessage("", new { @class = "text-danger" });
            
            <div class="checkbox">
                <label>
                    @Html.CheckBoxFor(m => m.RememberMe) Запомнить меня
                </label>
            </div>

            <button class="btn btn-default btn-primary btn-block" type="submit">Войти</button>
        }
    </div>

    <div class="form-signin-link">
        Нет аккаунта? @Html.ActionLink("Зарегистрируйтесь", "Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new { })
    </div>

    <div class="form-signin-link">
        @Html.ActionLink("www.globalprint.online.ru", "Index", "Home")
    </div>

</div>
