@using GlobalPrint.ClientWeb
@model RegisterViewModel

@{
    ViewBag.Title = "Регистрация";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/account/login.css">
}

<div class="container form-signin">
    <h2 class="form-signin-heading">Регистрация</h2>

    <div>
        @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()

            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @type = "email", @placeholder = "Email", @required = "true" })
            @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Пароль", @required = "true" })
            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Подтвердите пароль", @required = "true" })
            
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
            @Html.ValidationMessage("", new { @class = "text-danger" });

            <button class="btn btn-default btn-primary btn-block" type="submit">Зарегистрироваться</button>
        }
    </div>

    <div class="form-signin-link">
        Есть аккаунт? @Html.ActionLink("Войдите", "Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, new { })
    </div>

    <div class="form-signin-link">
        @Html.ActionLink("www.globalprint.online.ru", "Index", "Home")
    </div>

</div>