@using GlobalPrint.ClientWeb
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
@section Stylesheets {
    <link rel="stylesheet" href="~/Resources/Stylesheets/shared/edit-form.css">
}

<div class="container edit-form">
    <h2 class="edit-form-heading">@ViewBag.Title</h2>

    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(m => m.Code)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @readonly = "readonly", @type = "email", @placeholder = "Email", @required = "true" })
        @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @type = "password", @placeholder = "Новый пароль", @required = "true" })
        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @type = "password", @placeholder = "Подтвердите новый пароль", @required = "true" })

        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
        @Html.ValidationMessage("", new { @class = "text-danger" });

        <button class="btn btn-default btn-primary btn-block" type="submit">Изменить</button>
    }

</div>