@using GlobalPrint.ClientWeb
@model ResetPasswordViewModel

@{
    ViewBag.Title = "Изменение пароля";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}
@section Scripts{
    <script src="~/Resources/Scripts/GlobalPrint/Account/ResetPassword.js"></script>
}

<div class="container verticalWrap">
    <div class="loginForm">
        <div class="loginTitle">Изменение пароля</div>

        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @id = "resetPasswordForm" }))
        {
            @Html.AntiForgeryToken()

            @Html.HiddenFor(m => m.Code)

            <div class="loginFormLabel input-wrapper">
                <p>E-Mail</p>
                @Html.TextBoxFor(m => m.Email, new { @class = "loginFormInput", @type = "email", @readonly = "true" })
            </div>
            <div class="loginFormLabel input-wrapper">
                <p>Новый пароль</p>
                @Html.TextBoxFor(m => m.Password, new { @class = "loginFormInput", @type = "password", @id = "userPassword" })
            </div>
            <div class="loginFormLabel input-wrapper">
                <p>Подтвердите новый пароль</p>
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "loginFormInput", @type = "password" })
            </div>

            <div class="row" style="margin-top:15px;">
                <div class="col-md-7 col-xs-12"></div>
                <div class="col-md-5 col-xs-12" align="right">
                    <button class="goReg" type="submit">Изменить</button>
                </div>
            </div>
        }

    </div>
</div>
