@using Microsoft.AspNet.Identity
@using Resources.ClientWeb.Shared

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul id="main-nav-right" class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink(NavigationViewResource.MyPrintersMenuItem, "MyPrinters", "Printer")
            </li>            
            <li>
                @Html.ActionLink(NavigationViewResource.MyOrdersMenuItem, "MyOrders", "Order")
            </li>
            <li>
                @{Html.RenderAction("UserRecievedPrintOrder", "UserPrintInfo");}       
            </li>
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "UserProfile", "UserProfile", new { }, new { @class = "font-bold" })
            </li>
            <li>
                @{Html.RenderAction("UserBalance", "UserPrintInfo");}
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="font-bold">@NavigationViewResource.SignOutMenuItem</a>
            </li>
            <li>
                @Html.ActionLink(NavigationViewResource.AboutMenuItem, "About", "About")
            </li>
            @{Html.RenderAction("CountryPicker", "UserPrintInfo");}
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink(NavigationViewResource.RegisterMenuItem, "Register", "Account", null, new { @class = "font-bold", id = "registerLink" })
        </li>
        <li>
            @Html.ActionLink(NavigationViewResource.LoginMenuItem, "Login", "Account", null, new { @class = "font-bold", id = "loginLink" })
        </li>
        <li>
            @Html.ActionLink(NavigationViewResource.AboutMenuItem, "About", "About")
        </li>
        @{Html.RenderAction("CountryPicker", "UserPrintInfo");}
    </ul>
}


