@using GlobalPrint.ClientWeb.Helpers
@using System.Globalization;

@{
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="load"></div>
<div class="topMargin"></div>

<div class="top">
    <div class="topLine">
        <div class="container">
            <div class="col-md-6 hidden-xs hidden-sm">
                @Html.ActionLink("Условия использования", "Offer", "Offer")
                @Html.ActionLink("Политика конфедициальности", "PrivacyPolicy", "Offer")
            </div>
            <div class="col-md-6">
                <div class="languageSelect">
                    <div class="langContainer">
                        <img src="~/Content/img/languages/ru-ru.png" alt="" /> <span>Русский</span> <img src="~/Content/img/langDrop.png" alt=""/>

                        <div class="selectBox">
                            <div class="sItem selected">
                                <img src="~/Content/img/languages/ru-ru.png" alt="" /> <span>Русский</span>
                            </div>
                            <div class="sItem">
                                <img src="~/Content/img/languages/en-us.png" alt="" /> <span>Английский</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_LoginPartial")

</div>

@RenderBody()

<div class="btLine">
    <div class="visible-xs visible-sm hidden-md hidden-lg" align="center">
        @Html.ActionLink("Условия использования", "Offer", "Offer")
        @Html.ActionLink("Политика конфедициальности", "PrivacyPolicy", "Offer")
    </div>
</div>

@section Scripts {
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts")
    }
}

@section Stylesheets {
    @if (IsSectionDefined("Stylesheets"))
    {
        @RenderSection("Stylesheets")
    }
}