@using GlobalPrint.Server
@model User
@{
    ViewBag.Title = "Аккаунт";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

@section Stylesheets {
    <link href="~/Resources/Stylesheets/userAccount/userAccount.css" rel="stylesheet" />
}

<div class="container">
    <!-- Модальное окно -->
    @Html.Partial("FillUpBalance")

    @using (Html.BeginForm("Save", "UserAccount", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }
        <h2 class="form-signin-heading">Аккаунт</h2>
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Имя</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control", @id = "inputName", @type = "text", @placeholder = "Полное имя", @required = "true", @autofocus = true })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Email</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @id = "inputEmail", @type = "email", @placeholder = "Email", @required = "true" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Телефон</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", @id = "inputPhone", @type = "phone", @placeholder = "Телефон", @required = "false" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-1 control-label text-left">Баланс</label>
            <div class="col-sm-11">
                @Html.TextBoxFor(m => m.AmountOfMoney, new { @class = "form-control", @readonly="true", @id = "inputAmountOfMoney", @type = "phone", @placeholder = "Телефон", @required = "false" })
            </div>
        </div>

        @Html.HiddenFor(x => x.UserID)
        @Html.HiddenFor(x => x.Login)
        @Html.HiddenFor(x => x.Password)
        @Html.HiddenFor(x => x.PasswordHash)

        <div class="form-group">
            <div class="col-sm-10">
                <button class="btn btn-default" type="submit" value="Save" name="action:Save">Сохранить</button>
                <!-- Кнопка, вызывающее модальное окно -->
                <a href="#FillUpBalanceModal" class="btn btn-default" data-toggle="modal">Пополнить счет</a>
            </div>
        </div>
    }
</div>
