@using GlobalPrint.ServerBusinessLogic.Models.Business.Orders
@model OrderRegisterFilter
@{
	ViewBag.Title = "Реестр заказов";
	Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}

<div class="col-md-9">
	<div class="row">
		<div class="col-md-6">
			<a href=@Url.Action("FillUpBalance", "UserProfile")>
				<button class="lkTopBBtn">
					Пополнить счет
				</button>
			</a>
		</div>
		<div class="col-md-6">
			<a href=@Url.Action("RequestCash", "UserProfile")>
				<button class="lkTopBBtn">
					Вывести средства
				</button>
			</a>
		</div>
	</div>
</div>

<div class="col-md-9">
	<div class="lkBox">
		<div class="lkBoxCont">
			<div class="defaultTitle">Реестр заказов</div>

			@using (Html.BeginForm("GetPrintOrderRegister", "Reports", FormMethod.Get, new { }))
            {
                if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
                {
                    <div class="alert alert-error">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        @Html.ValidationSummary(true, "Ошибки: ")
                    </div>
                }
				@Html.HiddenFor(e => e.OwnerUserID, new { @id = "OwnerUserID" })

				<div class="col-md-11">
					<div class="row regisRow">
						<div class="col-md-3">
							Дата реестра с
						</div>
						<div class="col-md-4">
							@Html.TextBoxFor(e => e.DateFrom, new { @type = "date", @class = "input-def regisInp", @placeholder = "дд.мм.гг" })
						</div>

						<div class="col-md-1">
							по
						</div>
						<div class="col-md-4">
							@Html.TextBoxFor(e => e.DateTo, new { @type = "date", @class = "input-def regisInp", @placeholder = "дд.мм.гг" })
						</div>
					</div>
					<div class="row regisRow">
						<div class="col-md-3">
							Тип
						</div>
						<div class="col-md-4">
							@Html.DropDownListFor(m => m.FileExporter, (IEnumerable<SelectListItem>)ViewBag.ExportTypesList, new { @id = "FileExporter", @class = "input-def regisInp", @required = "required" })
						</div>
					</div>
				</div>

				<div class="buttonsBox">
					<a href="#"><button type="submit" class="defaultButton coloredBtn">Выполнить</button></a>
					<a href=@Url.Action("UserProfile", "UserProfile") class="defaultButton coloredBtn white-text">Назад</a>
				</div>
			}
		</div>

	</div>
</div>
