@using GlobalPrint.Server
@model List<Printer>
@{
    ViewBag.Title = "Принтеры";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}
@{int rowNo = 0;}
<div class="container">
    @using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }

        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-1">№</th>
                    <th class="col-md-4">Название</th>
                    <th class="col-md-5">Расположение</th>
                    <th class="col-md-2">Цена ч/б печать руб/стр</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Printer printer in Model)
                {
                    <tr>
                        <td scope="row">@(rowNo += 1)</td>
                        <td>@Html.DisplayFor(c => printer.Name)</td>
                        <td>@Html.DisplayFor(c => printer.Location)</td>
                        <td>@Html.DisplayFor(c => printer.BlackWhitePrintPriceInCurrency)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
