@using GlobalPrint.ServerBusinessLogic.Models.Business.Printers
@using GlobalPrint.Infrastructure.CommonUtils
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Printers
@using GlobalPrint.ClientWeb.Models.Lookup

@model PrinterEditionModel
@{
    ViewBag.Title = "Редактирование принтера";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";

    List<PrintServiceExtended> AllServices = (List<PrintServiceExtended>)ViewBag.AllServices;
    WeekUtility WeekUtility = (WeekUtility)ViewBag.WeekUtility;
}

@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/Printer/Edit.js"></script>
}

<div class="col-md-9">
    <div class="lkBox">
        <div class="lkBoxCont">
            <div class="defaultTitle">Редактирование принтера "@( Model?.Printer?.Name ?? "Новый" )"</div>

            @using (Html.BeginForm("Save", "Printer", FormMethod.Post, new { @class = "smForm", @id = "printerEditForm" }))
            {

                if (!ViewData.ModelState.IsValid)
                {
                    <div class="alert alert-danger container margin-top-20">
                        <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        @Html.ValidationSummary(false, "Ошибки: ")
                    </div>
                }

                @Html.HiddenFor(x => x.Printer.ID)
                @Html.HiddenFor(x => x.Printer.OwnerUserID)

                <div class="edit">Основное</div>

                <div class="tableName">Название:</div>
                <label class="labelBox mgBottom input-wrapper">
                    @Html.TextBoxFor(m => m.Printer.Name, new { @class = "input-def fullwidth js-clearable", @type = "text", @placeholder = "Название принтера", @autofocus = true })
                </label>

                <div class="tableName">Расположение:</div>
                <label class="labelBox mgBottom input-wrapper">
                    <div class="input-group fullwidth">
                        @Html.TextBoxFor(m => m.Printer.Location, new { @class = "input-def fullwidth js-clearable", @type = "text", @placeholder = "Расположение", @id = "location" })
                        <div class="dLabel input-group-btn" id="geolocation" title="Определить широту и долготу по сервисам Google"><img src="/Content/img/world_earth.png"></div>
                    </div>
                </label>

                <div class="tableName">Широта:</div>
                <label class="labelBox mgBottom input-wrapper">
                    @Html.TextBoxFor(m => m.Printer.Latitude, new { @class = "input-def fullwidth js-clearable", @type = "text", @placeholder = "Широта", @id = "latitude" })
                </label>

                <div class="tableName">Долгота:</div>
                <label class="labelBox mgBottom input-wrapper">
                    @Html.TextBoxFor(m => m.Printer.Longtitude, new { @class = "input-def fullwidth js-clearable", @type = "text", @placeholder = "Долгота", @id = "longtitude" })
                </label>

                <div class="tableName">Телефон:</div>
                <label class="labelBox mgBottom input-wrapper">
                    @Html.TextBoxFor(m => m.Printer.Phone, new { @class = "input-def fullwidth js-clearable", @type = "phone", @placeholder = "Телефон" })
                </label>

                    <div class="tableName">Email:</div>
                    <label class="labelBox mgBottom input-wrapper">
                        @Html.TextBoxFor(m => m.Printer.Email, new { @class = "input-def fullwidth js-clearable", @type = "email", @placeholder = "Email" })
                    </label>

                    <div class="tableName">Оператор:</div>
                    <label class="labelBox mgBottom input-wrapper">
                        @Html.Lookup(LookupTypeEnum.User, "Printer.OperatorUserID", Model.Printer.OperatorUserID)
                    </label>


                    <div class="tableName">Включен:</div>
                    <label for="isEnabled" class="labelBox mgBottom input-wrapper">
                        @Html.CheckBoxFor(m => m.Printer.IsEnabled, new { @class = "js-switch-small", @name = "IsEnabled", @id = "isEnabled" })
                    </label>

                //--------------------------------------------List of time---------------------------------------------
                <br />
                <div class="edit">Расписание работы принтера</div>
                <div class="input-wrapper">
                    @Html.Hidden("PrinterScheduleArray")
                </div>
                <div class="lkInsetOverflow minusMargin">
                    <div class="outerTable">
                        <table class="defaultTable min-width-0" id="printerSchedules">
                            <thead>
                                <tr class="tableHead">
                                    <th class="col-xs-1 col-sm-5">День</th>
                                    <th class="hidden-xs col-md-1">Открыто</th>
                                    <th class="visible-xs"></th>
                                    <th class="col-xs-3 col-md-3">С</th>
                                    <th class="col-xs-3 col-md-3">По</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int index = -1;
                                    PrinterSchedule schedule = null;
                                }
                                @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
                                {
                                    {
                                        index++;
                                        schedule = Model.PrinterSchedule.FirstOrDefault(e => e.DayOfWeek == (int)day);
                                    }
                                    @Html.Hidden($"PrinterSchedule[{index}].ID", schedule?.ID ?? 0)
                                    @Html.Hidden($"PrinterSchedule[{index}].DayOfWeek", (int)day)
                                    @Html.Hidden($"PrinterSchedule[{index}].PrinterID", Model.Printer.ID)
                                    <tr class="printer-schedule-row">
                                        <td class="visible-xs col-xs-1" scope="row">@WeekUtility.ShortDayName(day)</td>
                                        <td class="hidden-xs" scope="row">@WeekUtility.DayName(day)</td>
                                        <td class="col-xs-1 col-md-1" scope="row">@Html.CheckBox($"PrinterSchedule[{index}].IsOpened", schedule != null, new { @class = "is-printer-schedule-open js-switch-small" })</td>
                                        <td class="col-xs-3 col-md-3 input-wrapper">
                                            <label class="labelBox">
                                                <div class="input-group fullwidth clockpicker" data-autoclose="true">
                                                    @Html.TextBox($"PrinterSchedule[{index}].OpenTime", schedule?.OpenTime, new { @class = "input-def fullwidth printer-schedule-time printer-schedule-time-open" })
                                                    <div class="dLabel input-group-btn" title="Задать время"><img src="/Content/img/clock.png"></div>
                                                </div>
                                            </label>
                                        </td>
                                        <td class="col-xs-3 col-md-3 input-wrapper">
                                            <label class="labelBox">
                                                <div class="input-group fullwidth clockpicker" data-autoclose="true">
                                                    @Html.TextBox($"PrinterSchedule[{index}].CloseTime", schedule?.CloseTime, new { @class = "input-def fullwidth printer-schedule-time printer-schedule-time-close" })
                                                    <div class="dLabel input-group-btn" title="Задать время"><img src="/Content/img/clock.png"></div>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                //--------------------------------------------List of services---------------------------------------------
                <br />
                <div class="edit">Услуги и цены</div>
                <div class="input-wrapper">
                    @Html.Hidden("PrinterServicesArray")
                </div>
                <div class="lkInsetOverflow minusMargin">
                    <div class="outerTable">
                        <table class="defaultTable min-width-0" id="printerServices">
                            <thead>
                                <tr class="tableHead">
                                    <th class="col-xs-1 col-md-1"></th>
                                    <th class="visible-xs">Услуга</th>
                                    <th class="hidden-xs col-md-3">Услуга</th>
                                    <th class="hidden-xs col-md-3">Размер</th>
                                    <th class="hidden-xs col-md-1">Цветная</th>
                                    <th class="hidden-xs col-md-1">Двусторонняя</th>
                                    <th class="col-xs-4 col-md-4">Стоимость</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    index = -1;
                                    PrinterService printService = null;
                                }
                                @foreach (PrintServiceExtended service in AllServices)
                                {
                                    {
                                        index++;
                                        printService = Model.PrinterServices.FirstOrDefault(e => e.PrintServiceID == service.PrintService.ID);
                                    }
                                    @Html.Hidden($"PrinterServices[{index}].ID", printService?.ID ?? 0)
                                    @Html.Hidden($"PrinterServices[{index}].PrintServiceID", service.PrintService.ID)
                                    @Html.Hidden($"PrinterServices[{index}].PrinterID", Model.Printer.ID)

                                    <tr class="printer-service-row">
                                        <td scope="row">@Html.CheckBox($"PrinterServices[{index}].IsSupported", printService != null, new { @class = "is-printer-service-supported js-switch-small" })</td>
                                        <td class="visible-xs" scope="row">@service.ToString()</td>
                                        <td class="hidden-xs col-md-3" scope="row">@service.PrintType.Name</td>
                                        <td class="hidden-xs col-md-3" scope="row">@service.PrintSize.Name</td>
                                        <td class="hidden-xs col-md-1" scope="row">@Html.CheckBox($"PrinterServices[{index}].IsColored", service.PrintService.IsColored, new { @class = "js-switch-small", disabled = "true" })</td>
                                        <td class="hidden-xs col-md-1" scope="row">@Html.CheckBox($"PrinterServices[{index}].IsTwoSided", service.PrintService.IsTwoSided, new { @class = "js-switch-small", disabled = "true" })</td>
                                        <td class="col-xs-3 col-md-3 input-wrapper" scope="row">
                                            <label class="labelBox">
                                                <div class="input-group currency-input-group fullwidth">
                                                    @Html.TextBox($"PrinterServices[{index}].PricePerPage", printService?.PricePerPageString, new { @class = "input-def fullwidth text-right printer-service-price currency-input" })
                                                    <div class="dLabel">руб.</div>
                                                </div>
                                            </label>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="buttonsBox" align="center">
                    <button class="defaultButton coloredBtn" type="submit">Сохранить</button>
                    <a href=@Url.Action("MyPrinters", "Printer") class="defaultButton coloredBtn white-text">Отмена</a>
                </div>
            }
        </div>
    </div>
</div>