@using GlobalPrint.ServerBusinessLogic.Models.Business.Printers
@using GlobalPrint.Infrastructure.CommonUtils
@using GlobalPrint.ServerBusinessLogic.Models.Domain.Printers
@using GlobalPrint.ClientWeb.Models.Lookup

@model PrinterEditionModel
@{
    ViewBag.Title = "Редактирование принтера";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";

    List<PrintServiceExtended> AllServices = (List<PrintServiceExtended>)ViewBag.AllServices;
    WeekUtility WeekUtility = (WeekUtility)ViewBag.WeekUtility;
}

@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/Printer/Edit.js"></script>
}

<div class="container">
    <h2>Редактирование принтера "@( Model?.Printer?.Name ?? "Новый" )"</h2>

    @using (Html.BeginForm("Save", "Printer", FormMethod.Post, new { @class = "form-horizontal", @role = "form", @id = "printerEditForm" }))
    {

        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }

        @Html.HiddenFor(x => x.Printer.ID)
        @Html.HiddenFor(x => x.Printer.OwnerUserID)

        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Название</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.TextBoxFor(m => m.Printer.Name, new { @class = "form-control", @type = "text", @placeholder = "Название принтера", @autofocus = true })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Расположение</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                <div class="input-group">
                    @Html.TextBoxFor(m => m.Printer.Location, new { @class = "form-control", @type = "text", @placeholder = "Расположение", @id = "location" })
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="geolocation">
                            <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Широта</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.TextBoxFor(m => m.Printer.Latitude, new { @class = "form-control", @type = "text", @placeholder = "Широта", @id = "latitude" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Долгота</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.TextBoxFor(m => m.Printer.Longtitude, new { @class = "form-control", @type = "text", @placeholder = "Долгота", @id = "longtitude" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Телефон</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.TextBoxFor(m => m.Printer.Phone, new { @class = "form-control", @type = "phone", @placeholder = "Телефон" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Email</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.TextBoxFor(m => m.Printer.Email, new { @class = "form-control", @type = "email", @placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label class="control-label text-left">Оператор</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.Lookup(LookupTypeEnum.User, "Printer.OperatorUserID", Model.Printer.OperatorUserID)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label for="isDisabled" class="control-label text-left">Отключен</label>
            </div>
            <div class="col-sm-10 input-wrapper">
                @Html.CheckBoxFor(m => m.Printer.IsDisabled, new { @class = "", @name = "isDisabled", @id = "isDisabled" })
            </div>
        </div>

        //--------------------------------------------List of time---------------------------------------------

        <h2>Расписание работы принтера</h2>
        <table class="table table-hover" id="printerSchedules">
            <thead>
                <tr>
                    <th class="hidden-xs col-sm-6">День</th>
                    <th class="visible-xs"></th>
                    <th class="hidden-xs col-md-1">Открыто</th>
                    <th class="visible-xs"></th>
                    <th class="col-xs-3 col-md-3">С</th>
                    <th class="col-xs-3 col-md-3">По</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = -1;
                    PrinterSchedule schedule = null;
                }
                @foreach (DayOfWeek day in Enum.GetValues(typeof(DayOfWeek)))
                {
                    {
                        index++;
                        schedule = Model.PrinterSchedule.FirstOrDefault(e => e.DayOfWeek == (int)day);
                    }
                    @Html.Hidden($"PrinterSchedule[{index}].ID", schedule?.ID ?? 0)
                    @Html.Hidden($"PrinterSchedule[{index}].DayOfWeek", (int)day)
                    @Html.Hidden($"PrinterSchedule[{index}].PrinterID", Model.Printer.ID)
                    <tr class="printer-schedule-row">
                        <td class="visible-xs" scope="row">@WeekUtility.ShortDayName(day)</td>
                        <td class="hidden-xs" scope="row">@WeekUtility.DayName(day)</td>
                        <td class="col-xs-1 col-md-1" scope="row">@Html.CheckBox($"PrinterSchedule[{index}].IsOpened", schedule != null, new { @class = "is-printer-schedule-open" })</td>
                        <td class="col-xs-3 col-md-3 input-wrapper">
                            <div class="input-group clockpicker" data-autoclose="true">
                                @Html.TextBox($"PrinterSchedule[{index}].OpenTime", schedule?.OpenTime, new { @class = "form-control printer-schedule-time printer-schedule-time-open" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                        <td class="col-xs-3 col-md-3 input-wrapper">
                            <div class="input-group clockpicker" data-autoclose="true">
                                @Html.TextBox($"PrinterSchedule[{index}].CloseTime", schedule?.CloseTime, new { @class = "form-control printer-schedule-time printer-schedule-time-close" })
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-time"></span>
                                </span>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        //--------------------------------------------List of services---------------------------------------------

        <h2>Услуги и цены</h2>
        <table class="table table-hover" id="printerServices">
            <thead>
                <tr>
                    <th class="col-xs-1 col-md-1"></th>
                    <th class="visible-xs">Услуга</th>
                    <th class="hidden-xs col-md-3">Услуга</th>
                    <th class="hidden-xs col-md-3">Размер</th>
                    <th class="hidden-xs col-md-1">Цветная</th>
                    <th class="hidden-xs col-md-1">Двусторонняя</th>
                    <th class="col-xs-4 col-md-4">Стоимость</th>
                </tr>
            </thead>
            <tbody>
                @{
                    index = -1;
                    PrinterService printService = null;
                }
                @foreach (PrintServiceExtended service in AllServices)
                {
                    {
                        index++;
                        printService = Model.PrinterServices.FirstOrDefault(e => e.PrintServiceID == service.PrintService.ID);
                    }
                    @Html.Hidden($"PrinterServices[{index}].ID", printService?.ID ?? 0)
                    @Html.Hidden($"PrinterServices[{index}].PrintServiceID", service.PrintService.ID)
                    @Html.Hidden($"PrinterServices[{index}].PrinterID", Model.Printer.ID)

                    <tr class="printer-service-row">
                        <td scope="row">@Html.CheckBox($"PrinterServices[{index}].IsSupported", printService != null, new { @class = "is-printer-service-supported" })</td>
                        <td class="visible-xs" scope="row">@service.ToString()</td>
                        <td class="hidden-xs col-md-3" scope="row">@service.PrintType.Name</td>
                        <td class="hidden-xs col-md-3" scope="row">@service.PrintSize.Name</td>
                        <td class="hidden-xs col-md-1" scope="row">@Html.CheckBox($"PrinterServices[{index}].IsColored", service.PrintService.IsColored, new { @class = "", disabled = "true" })</td>
                        <td class="hidden-xs col-md-1" scope="row">@Html.CheckBox($"PrinterServices[{index}].IsTwoSided", service.PrintService.IsTwoSided, new { @class = "", disabled = "true" })</td>
                        <td class="col-xs-3 col-md-3 input-wrapper" scope="row">
                            <div class="input-group currency-input-group">
                                @Html.TextBox($"PrinterServices[{index}].PricePerPage", printService?.PricePerPageString, new { @class = "form-control text-right printer-service-price currency-input" })
                                <div class="input-group-addon">руб.</div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>

        @*if (Model.NeedPrinterOwnerOffer)
            {
                <div class="form-group">
                    <div class="col-sm-12 checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.IsAgreeWithOffer, new { @required = "true" }) <span>Настоящим подтверждаю, что я ознакомлен и согласен с условиями @Html.ActionLink("оферты владельца принтера", "Offer", "Offer", new { @offerTypeID = OfferTypeEnum.PrinterOwnerOffer }, new { target = "_blank" }).</span>
                        </label>
                    </div>
                </div>
            }
            else
            {
                @Html.HiddenFor(m => m.IsAgreeWithOffer, new { @required = "true", @Value = true })
            }*@

        <div class="form-group">
            <div class="col-sm-12">
                <button class="btn btn-default" type="submit">Сохранить</button>
                <a href="@Request.UrlReferrer" class="btn btn-default"><i class="icon-circle-arrow-left"></i>Отмена</a>
            </div>
        </div>
    }
</div>
