@using GlobalPrint.ServerBusinessLogic.Models.Domain.Printers
@using Resources.ClientWeb.Order

@using GlobalPrint.ClientWeb.Models.PrinterController
@model Printer_MyPrinters
@{
    ViewBag.Title = MyPrintersViewResource.FormTabTitle;
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container">

    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger container margin-top-20">
            <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            @Html.ValidationSummary(false, Resources.Resource.ValidationErrors + ": ")
        </div>
    }

    <table class="table table-hover">
        <thead>
            <tr>
                <th class="col-md-4">@MyPrintersViewResource.PrinterNameHeader</th>
                <th class="col-md-6">@MyPrintersViewResource.LocationHeader</th>
                <th class="col-md-2">@MyPrintersViewResource.ActionsHeader</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.PrinterList != null)
            {
                foreach (Printer printer in Model.PrinterList)
                {
                    <tr>
                        <td class="col-md-4">@Html.DisplayFor(c => printer.Name)</td>
                        <td class="col-md-6">@Html.DisplayFor(c => printer.Location)</td>
                        <td class="table-col-buttons">
                            <a href="@Url.Action("Edit", "Printer", new { @PrinterID = printer.ID })" title=@MyPrintersViewResource.EditButtonTooltip class="btn btn-default glyphicon glyphicon-pencil"></a>
                            <a href="@Url.Action("Clone", "Printer", new { @PrinterID = printer.ID })" title="Клонировать принтер" class="btn btn-default glyphicon glyphicon-plus"></a>
                                class="btn btn-default glyphicon glyphicon-pencil"></a>
                            @Ajax.ActionLink(" ", "Delete", new { PrinterID = printer.ID }, new AjaxOptions { HttpMethod = "POST" }, 
                                new { @class = "btn btn-default glyphicon glyphicon-trash", @title = MyPrintersViewResource.DeleteButtonTooltip })
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <div class="form-group">
            @Html.ActionLink(MyPrintersViewResource.AddButtonLabel, "Create", "Printer", new { }, new { @class = "btn btn-default" })
        <a href="@Request.UrlReferrer" class="btn btn-default"><i class="icon-circle-arrow-left"></i>Назад</a>
    </div>
</div>
