@using GlobalPrint.ServerBusinessLogic.Models.Domain.Printers
@using GlobalPrint.ClientWeb.Helpers
@using GlobalPrint.ClientWeb.Models.MenuButton
@using System.Globalization

@using GlobalPrint.ClientWeb.Models.PrinterController
@model Printer_MyPrinters
@{
    ViewBag.Title = "Принтеры";
    Layout = "~/Views/Shared/_ProfileLayout.cshtml";
}
@section Scripts {
    <script src="~/Resources/Scripts/GlobalPrint/Printer/MyPrinters.js"></script>
}


<div class="col-md-9">
	<div class="lkBox">

        @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count > 0)
        {
            <div class="alert alert-error">
                <button type="button" class="close" data-dismiss="alert">×</button>
                @Html.ValidationSummary(true, "Ошибки: ")
            </div>
        }

		<div class="lkBoxCont">
			<div class="defaultTitle">
				Принтеры
			</div>

			<div class="tableName">Мои принтеры</div>

			<div class="lkInsetOverflow minusMargin">
				<div class="outerTable double-scroll">
					<table class="defaultTable" width="100%">
						<tr class="tableHead">
							<td>Название</td>
							<td>Расположение</td>
							<td>Действия</td>
						</tr>
						@foreach (Printer printer in Model?.PrinterList ?? new List<Printer>())
						{
							<tr>
								<td>@Html.DisplayFor(c => printer.Name)</td>
								<td>@Html.DisplayFor(c => printer.Location)</td>
								<td align="right">
                                    @Html.ButtonMenu(new List<MenuItem>() {
                                        new MenuItem() { Name = "Клонировать принтер", Reference = @Url.Action("Clone", "Printer", new { @PrinterID = printer.ID }) },
                                        new MenuItem() { Name = "Изменить параметры принтера", Reference = @Url.Action("Edit", "Printer", new { @PrinterID = printer.ID }) },
                                        new MenuItem() { Name = "Удалить принтер", Reference = @Url.Action("Delete", "Printer", new { @PrinterID = printer.ID }),
                                            IsPostOperation = true, Classes = new List<string> { "deletePrinter" } }
                                    })
								</td>
							</tr>
						}
					</table>
				</div>
			</div>

			<div class="buttonsBox">
				<a href=@Url.Action("Create", "Printer") class="defaultButton coloredBtn white-text">Добавить</a>
			</div>
		</div>

	</div>
</div>