@model Printer_PrintViewModel
@{
    ViewBag.Title = "Заказ на печать";
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}
@section Scripts{
    <script src="~/Resources/Libraries/bootstrap.file-input/fileinput.js"></script>
    <script src="~/Resources/Scripts/printer/print.js"></script>
    <script>
        var progress = (function () {
            var pleaseWaitDiv = $('<div class="modal hide" id="pleaseWaitDialog" data-backdrop="static" data-keyboard="false"><div class="modal-header"><h1>Загрузка файла...</h1></div><div class="modal-body"><div class="progress progress-striped active"><div class="bar" style="width: 100%;"></div></div></div></div>');
            return {
                showPleaseWait: function () {
                    pleaseWaitDiv.modal();
                },
                hidePleaseWait: function () {
                    pleaseWaitDiv.modal('hide');
                }
            };
        })();

        $(document).ready(function () {
            $("#printButton").click(function () {
                progress.showPleaseWait();
            });
        });
    </script>
}
@section Stylesheets {
}
<div class="container">
    @using (Html.BeginForm("Print", "Printer", FormMethod.Post, new { @enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        if (!ViewData.ModelState.IsValid)
        {
            <div class="alert alert-danger container margin-top-20">
                <button class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                @Html.ValidationSummary(false, "Ошибки: ")
            </div>
        }
        <h2>Информация для печати</h2>
        @Html.HiddenFor(e => e.order.PrinterID)
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Название принтера</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.printer.Printer.Name, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Расположение принтера</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.printer.Printer.Location, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Цена ч/б печати</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.printer.Printer.BlackWhitePrintPriceInCurrency, new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Файл для печати</label>
            <div class="col-sm-3">
                @Html.TextBoxFor(e => e.fileToPrint, new { @type = "file", @data_filename_placement = "inside", @title = "Выберите файл", @accept = ".pdf" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Секретный код</label>
            <div class="col-sm-9">
                @Html.TextBoxFor(e => e.order.SecretCode, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Формат</label>
            <div class="col-sm-9">
                @Html.DropDownListFor(m => m.order.Format, Model.formatStore, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label text-left">Двусторонняя печать</label>
            <div class="col-sm-9">
                @Html.EditorFor(e => e.order.IsBothSidesPrint, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
            @if (Model.user.AmountOfMoney <= 0)
            {
                <input type="submit" id="printButton" value="Печать" disabled="disabled" class="btn btn-default" />
            }
            else
            {
                <input type="submit" id="printButton" value="Печать" class="btn btn-default" />
            }
        </div>
    </div>
    }
</div>

