@using System.Globalization
@using GlobalPrint.ClientWeb.Helpers
@using Resources.ClientWeb.Account

@{
    ViewBag.Title = AboutViewResource.AboutFormTabTitle;
    Layout = "~/Views/Shared/_NavigationLayout.cshtml";
}

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header text-center">@AboutViewResource.ProjectSlogan</h2>
        </div>
    </div>

    <div style="text-align:left;">
        <h4>
            @AboutViewResource.AboutProjectHeader<br>
            @AboutViewResource.AboutProjectPrintCost<br>
            @AboutViewResource.AboutProjectPaymentWay<br>
        </h4>
        <p>@AboutViewResource.TechSupport</p>
        <p>@AboutViewResource.TechSupportPhone</p>
        <p>@AboutViewResource.TechSupportEmail</p>
        <p>@Html.ActionLink(AboutViewResource.FeedbackLinkLabel, "Feedback", "Feedback")</p>
    </div>

</div>